header{
    width:100%;
    height:120px;
    margin-bottom:5px;
}

header img{
    margin-top:20px;
    margin-bottom:15px;
}

.nav-item a{
    font-size:18px;
    color:black;
}

.nav-item a:hover{
    font-size:20px;
    transition: .5s;
}

header ul{
    margin-top:8px;
    border-top:2px solid black;
    
}

section.conteudo{
    padding-top:50px;

}

.status{
    position:relative;
    top:25%;

}

footer ul {
    list-style: none;
    padding: 20px;
}

footer ul li a {
    color: black;
}

footer ul li a:hover {
    color: black;
    border-bottom:1px solid black;
}


.redesocial {
    width: 50px;
}

@media screen and (max-width: 460px) {
    #propag-1,
    #propag-2 {
        display: none;
    }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    #propag-2 {
        display: none;
    }
}